body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right,rgb(238, 238, 111),violet);
    
}
.navbar{
    background-color: tomato;
    padding: 5px 0;
    
      
}
.navbar ul{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}
.navbar ul li{
    margin: 0 65px;
}
.menu a:hover{
   color: aliceblue;
   transition: 100ms;
   
}

.navbar ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.05rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.page1{
   display: flex;
   justify-content: space-around;
   align-items: center;
}
.image{
    object-fit: cover;
}
.lh-side{
    padding: 80px;
    text-align: justify;
}
.lh-txt{
    max-width: 50%;
    width: 70%;
  
    
}
.lh-side>h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3rem;
}
.lh-side p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 40px;
    padding-bottom: 40px;
}
.button1{
    background-color: tomato;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    border: none;
    width: 10rem;
    height: 2rem;
    margin-top: 2rem;
}
.image{
    max-width: 100%;

}
.page2{
    display: flex;
    padding: 150px 5%;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}
.images{
    display: flex;
    gap: 10px;
    
}
.left-img{
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.left-img img{
    object-fit: cover;
}
.txt{
    background-color: rgb(237, 125, 105);
    padding: 20px;
    width: fit-content;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.txt h1{
    font-weight: bold;
    font-size: 2.6rem;
}
.txt h6{
    font-weight: lighter;
    text-transform: uppercase;
}
.click{
    display: flex;
    align-items: center;
}
.click img{
    margin-left: 10px;
}

/* Responsive */
@media screen and (max-width:1000px) {
.menu{
    display:none;
}
.navbar{
    display: flex;
    justify-content: right;
}
.page1{
    display: block;
    align-items: center;
    justify-content: space-around;
}
.rh-side{
    display: flex;
    justify-content: space-around;
}
.lh-side{
    max-width: 90%;
    text-align: center;
}
.lh-txt{
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    width: 100%;
    
}
.lh-side p{
    text-align: justify;
}
.image{
    max-width: 90%;
    height: 400px;

}
.page2{
    flex-direction: column;
}
.images{
    flex-direction: column;
    align-items: center;
}
.images img{
    width: 400px;
    height: 250px;
    object-fit: cover;
}
    
}


